/* Navbar.css */

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background: #E5E5E5;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

/* Logo */
.logo {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #42446e;
}

/* Navbar */
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: #42446e;
  font-weight: bold;
  font-size: x-large;
}

.navbar a:hover {
  color: #333;
}

/* Contact Button */
.contact-button button {
  width: 176px;
  height: 45px;
  padding: 12px 40px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #1a6ce8;
}

.contact-button button:hover {
  background-color: #444;
}

/* Hamburger Icon */
#menu {
  font-size: 3rem;
  cursor: pointer;
  color: #1a6ce8;
  display: none;
}

/* Mobile Styles */
@media (max-width: 768px) {
  /* Mobile styling rules... */
}

/* Style for the underline when link is active */
.navbar ul li a.active,
.navbar ul li a:hover,
.navbar ul li a:focus {
  padding: 1rem;
  color: #42446e;
  border-radius: 0.5rem;
  text-decoration: none;
  border-bottom: 0.3rem solid #011aff;
}

/* Add this rule to make the navbar fit the page width */
@media (max-width: 768px) {
  header .navbar.nav-toggle {
    width: 100%;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  background-color: #1a6ce8;
  width: 20px;
  height: 5px;
  display: block;
  margin: 5px;
  transition: 0.3s ease-in-out;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Media Query for Displaying Hamburger Icon */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  /* Other styles specific to smaller screens */
}
/* Mobile Styles */
@media (max-width: 768px) {
  .navbar.nav-toggle {
    position: fixed;
    top: 5.5rem; /* Adjust this value to fit your design */
    right: ${props => (props.menuOpen ? '0' : '-120%')}; /* Toggle the right value */
    width: 100%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    background-color: #1a6ce8;
    border-radius: 0px 0px 0px 90px;
    transition: right 0.3s ease; /* Add transition for smooth animation */
  }

  /* ... (rest of your mobile styles) */
}
